Options -Indexes

Header add Vary accept-encoding
RewriteEngine on
RewriteCond %{HTTP:accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME} !\.gz$
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule (.*) $1.gz [L]

<Files "index.html">
Header set X-UA-Compatible "chrome=1"
</Files>