html{height:100%;}
body{margin:0px;background-color:#CCCCCC;font-family:'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;}
#wrapper{margin:140px 140px;}
#options{display:block;float:left;margin-right:11px;padding:11px;white-space:nowrap;border-style:solid;border-width:1px;border-color:#000000;border-radius:11px;background-color:#FFFFFF;}
.selectedOption{cursor:pointer;color:#E44D26;font-weight:bold;font-size:10px;}
.deselectedOption{cursor:pointer;color:#808080;font-size:10px;}
.deselectedOption:hover{color:#FD643A;}
.square{color:#000000;font-size:11px;font-weight:normal;}
#markupWrapper{overflow:hidden;}
#markup{display:block;padding:11px;overflow:hidden;font-family:monospace;border-style:solid;border-width:1px;border-color:#000000;border-radius:11px;background: url('./images/htmlshellfaded.png') no-repeat right -70px;background-color:#FFFFFF;line-height:14px;}
#markup span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#markup .edit{display:inline;color:#E44D26;cursor:pointer;}
#markup .edit:hover{color:#FD643A}
#hintWrapper{margin-left:11px;}
#selectHintText{display:none;color:#389220;}
#selectHintText,#editHintText{font-style:italic;}
#editHintText{display:inline;color:#E44D26;}
#bottomSpacer{clear:both;}
footer{position:fixed;bottom:0px;width:100%;text-align:center;color:#CCCCCC;background-color:#333333;padding:5px;}
a{text-decoration:none;color:#389220;}
a:hover{text-decoration:underline;}
::selection{background-color:#389220;}
::-moz-selection{background-color:#389220;}
