html{height:100%;}
body{margin:0px;background-color:#CCC;font-family:'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;line-height:1.2;}
#wrapper{margin:112px 11px;}
#options{display:block;float:left;margin-right:11px;padding:11px;white-space:nowrap;border-style:solid;border-width:1px;border-color:#000;border-radius:11px;background-color:#FFF;}
#ipsumWrapper{display:block;float:right;margin-left:11px;margin-bottom:33px;padding:11px;width:222px;border-style:solid;border-width:1px;border-color:#000;border-radius:11px;background-color:#FFF;}
#ipsum{margin:0px;padding;0px}
#ipsum span{display:block;}
.selectedOption,.enabled{color:#E44D26;font-size:10px;}
.selectedOption,.enabled:hover{font-weight:bold;}
.deselectedOption,.enabled{cursor:pointer;}
.deselectedOption,.disabled{color:#808080;font-size:10px;}
.deselectedOption:hover{color:#FD643A;}
.square{color:#000;font-size:11px;font-weight:normal;}
#markupWrapper{overflow:hidden;background-color:#FFF;border-style:solid;border-width:1px;border-color:#000;border-radius:11px;}
#markup{display:block;padding:11px;overflow:hidden;font-family:monospace;background: url('./images/htmlshell.png') no-repeat right 0px;line-height:14px;}
#markup span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#markup .edit{display:inline;color:#E44D26;cursor:pointer;}
#markup .edit:hover{color:#FD643A}
#hintWrapper{margin-left:11px;}
.selectHintText{display:none;color:#389220;}
.selectHintText,#editHintText{font-style:italic;}
#editHintText{display:inline;color:#E44D26;}
#adWrapper{position:absolute;top:11px;left:50%;margin-left:-364px;}
#bottomSpacer{clear:both;}
footer{position:fixed;bottom:0px;width:100%;text-align:center;color:#CCC;background-color:#333;padding:11px;}
footer a{color:#78ba33;}
.hash{color:#FFF;font-family:monospace;}
a{text-decoration:none;color:#389220;}
a:hover{text-decoration:underline;}
::selection{background-color:#389220;}
::-moz-selection{background-color:#389220;}
